version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: truck_frontend
    ports:
      - "8080:80"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - truck-network  # Usar la red del backend

networks:
  truck-network:
    external: true
    name: truck_back_truck-network